.catalogs-list {
  margin-bottom: 3em;
}

.catalog-title {
  display: inline-block;
  padding-bottom: 3em;
}

.cat-icon {
  margin-right: 0.5em;
}

.prodlist-title {
  font-weight: bold;
  font-size: 0.8em;
  margin: 0.5em 0;
}

.prod-single-title {
  font-weight: bold;
  color: $c-red;
}

.backlink {
  margin: 1em 0;
}
