form {
	margin-bottom: 1rem;
}

.contacts-loveMessage {
	margin: 2em 0;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
}

.contacts-title {
	padding: 1em 0;
	font-size: 1.5rem;
	font-weight: bold;
}

.contacts-line {
	font-size: 1.1rem;
	span {
		font-weight: bold;
	}
}
