extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="about-mission.html") Миссия ТМ "СвирьХлеб"
        li.widget-item
          a(href="about-success.html") Наши успехи
        li.widget-item
          a(href="about-docs.html") Документы
        li.widget-item
          a(href="about-job.html").active Вакансии
        li.widget-item
          a(href="about-press.html") Пресса о ТМ "СВИРЬХЛЕБ"

block content
  .job
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") О нас
      |  / Вакансии
    h1 Вакансии
    p На ОАО "Подпорожский Хлебокомбинат" и ОАО "Лодейнопольский Хлебокомбинат" работают специалисты различных профессий. Это пекаря, кондитеры, экспедиторы, грузчики, бухгалтера, менеджеры... Каждая из специальностей интересна, нужна и по-своему уникальна. Мы гордимся Нашим высококвалифицированным составом специалистов и приглашаем в Наш дружный коллектив на работу!
    p Если на Нашем сайте Вы не найдете нужную Вам специальность, отправьте нам свое резюме.
    p.content-center <b>А вдруг вакансия появилась только сегодня и ее еще просто нет на сайте?</b>
    p.content-center <b>Мы обязательно рассмортрим Ваше резюме!</b>
    p.par-important Наши контакты:

    p  <b>ОАО "Подпорожский Хлебокомбинат"</b>
    p  e-mail: hlebokombinat.pod@yandex.ru
    p  Телефон: 8 (813 65) 2-14-07
    p
    p  <b>ОАО "Лодейнопольский хлебокомбинат"</b>
    p  e-mail: svirhleb@mail.ru
    p  Телефон: 8 (813 64) 2-12-27
