extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="about-mission.html") Миссия ТМ "СвирьХлеб"
        li.widget-item
          a(href="about-success.html") Наши успехи
        li.widget-item
          a(href="about-docs.html").active Документы
        li.widget-item
          a(href="about-job.html") Вакансии
        li.widget-item
          a(href="about-press.html") Пресса о ТМ "СВИРЬХЛЕБ"

block content
  .docs
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") О нас
      |  / Документы
    h1 Документы
    p.par-important Файлы
    ul.docs-list
      li.docs-list-item
        a(href="#") Список аффилированных лиц 2011 ОАО "Подпорожский Хлебокомбинат" Аффилированные лица на 31.03.2011 (143 Kb)
      li.docs-list-item
        a(href="#") Аудиторское заключение за 2011 год ОАО "Подпорожский Хлебокомбинат" (28.03.12) (143 Kb)
      li.docs-list-item
        a(href="#") Сообщение о проведении общего собрания акционеров ОАО "ЛодКХиК" 21.08.2012 (38 Kb)
      li.docs-list-item
        a(href="#") Сообщение об изменении адреса страницы в сети Интернет, используемой акционерным обществом для раскрытия информации ОАО "ЛодКХиК" 21.08.12 (36 Kb)
      li.docs-list-item
        a(href="#") Сообщение об изменении адреса страницы в сети Интернет, используемой акционерным обществом для раскрытия информации ОАО "ПХК" 21.08.12 (36 Kb)
      li.docs-list-item
        a(href="#") Годовая бухгалтерская отчетность за 2011 год ОАО Подпорожский хлебокомбинат (1284 Kb)
      li.docs-list-item
        a(href="#") Годовая бухгалтерская отчетность за 2011 год ОАО "ЛодКХиК" (4098 Kb)
