extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="about-mission.html") Миссия ТМ "СвирьХлеб"
        li.widget-item
          a(href="about-success.html") Наши успехи
        li.widget-item
          a(href="about-docs.html") Документы
        li.widget-item
          a(href="about-job.html") Вакансии
        li.widget-item
          a(href="about-press.html") Пресса о ТМ "СВИРЬХЛЕБ"

block content
  .about
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") О нас
      |  / О Компании ТМ "СвирьХлеб"
    h1 О Компании ТМ "СвирьХлеб"
    .about-title
      img(src="images/slogan-main.png", alt="")
    p С этих слов начинается рабочий день на Лодейнопольском и Подпорожском Хлебокомбинатах, выпускающих свою продукцию под торговой маркой «СвирьХлеб».
    p Оба предприятия имеют многолетнюю, славную трудовую историю, пользуются заслуженной репутацией, широко известны разнообразным ассортиментом и высоким качеством выпускаемой продукции.
    p.par-important Ежедневно комбинаты выпускают более 20 тонн хлеба и 7 тонн кондитерских изделий, которые поставляются как в розничные магазины, так и  в торговые сети таких регионов, как:
    ul.delivery-list
      li.delivery-item
        span Карелия:
        | &nbsp; г. Петрозаводск, Олонецкий, Питкярантский, Сортавальский, Петрозаводский, Кондопожский, Суоярвский, Лахденпохский районы, г. Медвежегорск
      li.delivery-item
        span  Ленинградская область:
        | &nbsp; Лодейнопольский, Сясьтройский, Волховский, Тихвинский, Бокситогорские районы;
      li.delivery-item
        span Вологодская область:
        | &nbsp; г. Вытегра, Вытегорский, Чагодощенский, Сазоновский, Устюженский, Бабаевский районы!
      li.delivery-item
        span Санкт-Петербург;
    .nets
      .row.content-center
        .col-lg-12
          .nets-title Сети, в которых присутствует Торговая Марка «СвирьХлеб»:
          .nets-category ФЕДЕРАЛЬНЫЕ:
        .col-lg-3
          img(src="images/clients/305.jpg", alt="дикси")
        .col-lg-3
          img(src="images/clients/306.jpg", alt="магнит")
        .col-lg-3
          img(src="images/clients/480.jpg", alt="лента")
      .nets-category ЛОКАЛЬНЫЕ:
      .row.content-center
        .col-lg-12.nets-subtitle
          | Город Петрозаводск:
        .col-lg-3
          img(src="images/clients/291.jpg", alt="бородинский")
        .col-lg-3
          img(src="images/clients/293.gif", alt="сигма")
        .col-lg-3
          img(src="images/clients/296.jpg", alt="ленторг")
        .col-lg-3
          img(src="images/clients/292.png", alt="лотос")
        .col-lg-12
          .delivery-item
            span Кондопога :"Конторг";
        .col-lg-12.nets-subtitle
          | Город Санкт-Петербург:
        .col-lg-3
          img(src="images/clients/302.jpg", alt="суперсам")
        .col-lg-3
          img(src="images/clients/301.jpg", alt="лукошко")
        .col-lg-3
          img(src="images/clients/304.jpg", alt="народный")
        .col-lg-3
          img(src="images/clients/303.jpg", alt="аксиома")
    p.par-important Следует особо отметить, что за 2012 год коммерческими отделами ОАО «Подпорожский Хлебокомбинат» и ОАО «Лодейнопольский Хлебокомбинат» открыто более 150 новых торговых точек.
    p Отделы продаж и маркетинга  Лодейнопольского и Подпорожского хлебокомбинатов  проводят большую работу по знакомству и общению со своими покупателями.
    p Каждый год ОАО «Лодейнопольский Хлебокомбинат» принимает участие в сельскохозяйственных выставках, проходящих в выставочном комплексе «Ленэкспо» в Санкт-Петербурге.
    .row
      .col-lg-4
        img(src="images/clients/307.jpg", alt="ленэкспо")
      .col-lg-4
        img(src="images/clients/308.jpg", alt="агрорусь")
    p С 2010 года торговая марка «СвирьХлеб» является организатором и генеральным  спонсором шоу «Звездный лед», проходящем в Лодейном Поле, дарящим радость местным жителям и гостям города.
    p Не стоит забывать и о выездной торговле торговой марки «СвирьХлеб» в предпраздничные дни. Сувениры, подарки, возможность приобрести любимую продукцию на праздник и пообщаться с менеджерами нашего предприятия, высказать свои пожелания, все это Вы можете оценить лично, посетив данное событие в своем городе. Также не следует забывать и об акциях,  проводящихся торговой маркой «СвирьХлеб». Они несомненно порадуют Вас своей выгодой.
    p Стоит особо отметить, что предприятия имеют 65-летний опыт производства продуктов питания и лаборатории: производственную и бактериологическую. Контроль сырья и продукции на всех  этапах  производственного процесса происходит на очень строгом уровне. Оба предприятия планируют начать работу по ГОСТ Р ИСО 22000–2007.
    p В соответствии со стратегическим планом развития предприятий происходит процесс модернизации производства. Одной из приоритетных задач стала замена оборудования. За 2012 год на Лодейнопольском Хлебокомбинате запущено в эксплуатацию оборудование: немецкая Раскаточная машина "ROLFIKS", Холодильник глубокой заморозки «Polair» пр-во Италия, а также Холодильник для охлаждённой продукции «Polair» пр-во Италия.
    p ОАО «Подпорожский Хлебокомбинат» и ОАО «Лодейнопольский Хлебокомбинат» строят свою работу в соответствии с международными стандартами качества, включая требования к упаковке продукции.
    p Именно поэтому в 2012 году на «Лодейнопольский Хлебокомбинат» была приобретена швейцарская горизонтальная упаковочная линия для упаковки продукции в полипропиленовую плёнку «IOPAK».
    p Большое внимание мы также оказываем своевременной доставке нашей продукции в точки сбыта. За 2012 год автопарк обоих  предприятий обновился более чем на  60%.  Было закуплено 18 автомашин (2 автомобиля Ford Transit; 14 газелей-бизнес с дизельным двигателем «Cummins» с изотермическим фургоном; 1 Hyundai Porter); 1 служебный автотранспорт Renault Logan.
    .row
      .col-lg-4
        img(src="images/309.jpg", alt="машина")
    p Поэтапное обновление оборудования продолжается и сегодня. Это позволяет оптимизировать затраты при выпуске продукции и вместе с тем постоянно улучшать ее качество.
    p.par-important.content-center Ведь мы работаем только для ВАС, ДОРОГИЕ ПОКУПАТЕЛИ!!!
    p.par-important.content-center Именно Ваше Признание и любовь – самая высокая награда нашему ежедневному труду!









