extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="about-mission.html") Миссия ТМ "СвирьХлеб"
        li.widget-item
          a(href="about-success.html").active Наши успехи
        li.widget-item
          a(href="about-docs.html") Документы
        li.widget-item
          a(href="about-job.html") Вакансии
        li.widget-item
          a(href="about-press.html") Пресса о ТМ "СВИРЬХЛЕБ"

block content
  .success
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") О нас
      |  / Наши успехи
    h1 Наши успехи
    p.par-important.content-center Наши успехи - это успехи нашего коллектива!
    p.par-important На ОАО "Подпорожский Хлебокомбинат" и ОАО "Лодейнопольский Комбинат Хлебобулочных и кондитерских изделий" трудятся люди, любяшие свое дело, настоящие профессионалы.
    .row.success-stuff
      .col-lg-4
        img(src="images/stuff/273_mgalb.jpg", alt="работники")
      .col-lg-4
        img(src="images/stuff/311.jpg", alt="кондитер")
    p.par-important Спасибо за ТО, что Вы выбираете продукцию  труда НАШИХ РАБОТНИКОВ, ваших одногорожан, ЗА ВАШУ ПРИЗНАТЕЛЬНОСТЬ И ВЫСОКУЮ ОЦЕНКУ их труда.
    .par-important.content-center НАШИ НАГРАДЫ:
    .awards-list
      img(src="images/awards/316.jpg", alt="")
      img(src="images/awards/317.jpg", alt="")
      img(src="images/awards/318.jpg", alt="")
      img(src="images/awards/319.jpg", alt="")
      img(src="images/awards/320.jpg", alt="")
      img(src="images/awards/320.jpg", alt="")
      img(src="images/awards/321.jpg", alt="")
      img(src="images/awards/322.jpg", alt="")
      img(src="images/awards/323.jpg", alt="")
      img(src="images/awards/324.jpg", alt="")
      img(src="images/awards/325.jpg", alt="")
      img(src="images/awards/326.jpg", alt="")
      img(src="images/awards/327.jpg", alt="")
      img(src="images/awards/329.jpg", alt="")
      img(src="images/awards/330.jpg", alt="")
      img(src="images/awards/331.jpg", alt="")
