extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="about-mission.html").active Миссия ТМ "СвирьХлеб"
        li.widget-item
          a(href="about-success.html") Наши успехи
        li.widget-item
          a(href="about-docs.html") Документы
        li.widget-item
          a(href="about-job.html") Вакансии
        li.widget-item
          a(href="about-press.html") Пресса о ТМ "СВИРЬХЛЕБ"

block content
  .mission
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") О нас
      |  / Миссия ТМ "СвирьХлеб"
    h1 Миссия ТМ "СвирьХлеб"
    p <b>Наша миссия:</b> дарить радость и наслаждение нашим потребителям, выпуская разнообразные хлебобулочные и кондитерские изделия наивысшего качества.
    p «Вкусный хлеб в каждый дом!»
    p <b>Цель компании:</b> Удовлетворение покупательского спроса на разнообразные мучные и кондитерские изделия неизменно высокого качества.
    p Наша деятельность направлена на улучшение качества жизни людей и призвана возродить правильное питание как основу здоровья нации.

    p <b>Наши задачи:</b>
    ul.mission-list
      li.mission-item расширение рынка сбыта продукции;
      li.mission-item укрепление завоеванных позиций с помощью расширения ассортимента производимых товаров;

    p <b>Наши ценности</b> для партнеров по бизнесу:
    ul.mission-list
      li.mission-item Высокое качество продукции и обслуживания;
      li.mission-item Надежность;
      li.mission-item Честность;
      li.mission-item Стабильность;
      li.mission-item Ответственность: мы строим бизнес на принципах ответственности перед потребителями, партнерами, государством.

    p <b>Наши ценнейшие активы</b> - это работники и покупатели.
    p <b>Наши девиз:</b> развиваться, сохраняя традиции!
