extends ../base

block content
  .news-single
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /Анонсы
    .news-single-date 28 января
    h1 Лето пора свадеб
    p Закажите у нас и Ваши гости останутся довольны!
    p <b>Фотогалерея</b>
    img(src="images/announces/437.jpg", alt="свадьба")
    img(src="images/announces/438.jpg", alt="свадьба")
    img(src="images/announces/535.jpg", alt="свадьба")
    img(src="images/announces/t_536.jpg", alt="свадьба")
    img(src="images/announces/t_537.jpg", alt="свадьба")
    img(src="images/announces/t_538.jpg", alt="свадьба")
    img(src="images/announces/t_539.jpg", alt="свадьба")
    img(src="images/announces/t_540.jpg", alt="свадьба")
    img(src="images/announces/t_541.jpg", alt="свадьба")
