extends ../base

block widget-content
  .row.sidebar-wgt.cat-menu
    .sidebar-header НАША ПРОДУКЦИЯ
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="category-hlebobul.html") БУЛОЧНЫЕ ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-torts.html") ЗАКАЗНЫЕ ТОРТЫ
        li.widget-item
          a(href="category-pirogi.html") ПИРОГИ И ПИРОЖКИ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-konditer.html") КОНДИТЕРСКИЕ (МУЧНИСТЫЕ) ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-cookies.html") ПЕЧЕНЬЕ ТМ "СВИРЬХЛЕБ"

block content
  .catalog
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  / Каталог
    h1 Каталог
    .row.catalogs-list
      .col-12
        a(href="catalogs.html").catalog-title Электронные каталоги ТМ "СвирьХлеб
        span (1)
      .col-lg-6
        img(src="images/333.jpg", alt="")
      .col-lg-6
        p.catalog-desc В нашем каталоге Вы найдете всю необходимую Вам информацию О НАШЕЙ ПРОДУКЦИИ. Вы сможете частично ознакомиться с нашим ассортиментом и по достоинству оценить привлекательность хлебобулочных и кондитерских изделий ТОРГОВОЙ МАРКИ "СВИРЬХЛЕБ"!
    .row.catalogs-list
      .col-12
        a(href="production.html").catalog-title НАША ПРОДУКЦИЯ
        span (11)
      .col-lg-6
        img(src="images/471.jpg", alt="")
      .col-lg-6
        p.catalog-desc В данном разделе Вы можете ознакомиться с продукцией торговой марки "СВИРЬХЛЕБ", выпускаемой ОАО "Подпорожский Хлебокомбинат" и ОАО "ЛОдейнопольский Хлебокомбиннат". МЫ РАДЫ ВАМ! Зайдите и оцените ширину ассортимента, выпускаемого Торговой Маркой "СВИРЬХЛЕБ"
