extends ../base

block content
  .catalog-content
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="catalog.html") Каталог
      |  /
      a(href="production.html") Наша продукция
      |  / Заказные торты
    h1 Заказные торты Лодейнопольского Хлебокомбината
    h3.content-center.prod-category-title Фотогалерея
    .row
      .col-lg-6
        a(href="#")
          img(src="#", alt="Каталог заказных тортов")
          span Каталог заказных тортов
      .col-lg-6
        a(href="#")
          img(src="#", alt="Каталог заказных тортов")
          span Каталог Заказных тортов
    a(href='production.html').backlink &lt;&lt; Назад
