extends ../base

block content
  .catalog-content
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="catalog.html") Каталог
      |  /
      a(href="production.html") Наша продукция
      |  / ПИРОГИ И ПИРОЖКИ
    h1 ПИРОГИ И ПИРОЖКИ ТМ "СВИРЬХЛЕБ"
    p «Пирог - это звучит вкусно!»
    p Особенно, если речь идет о пирогах Подпорожского и Лодейнопольского хлебокомбинатов. Как нам известно, ни один «пир на весь мир» не может обойтись без исконно русского блюда: домашнего пирога.
    p На Руси каждому празднику соответствовали свои пироги с уникальными кулинарными секретами приготовления, некоторые из которых сохранились по сей день и используются «асами» хлебопекарного делапредприятиями торговой марки «СвирьХлеб». Подпорожские  и Лодейнопольские пироги разнообразны не только по своему внешнему виду, но и по составу теста, начинкам и вкусу. Используя традиции русской выпечки, Подпорожский и Лодейнопольский хлебокомбинаты разработали пироги с разными начинками, которые стоит попробовать:
    .row
      .col-lg-6
        img(src="#", alt="Ватрушка сдобная с творожной начинкой")
        span Ватрушка сдобная с творожной начинкой
      .col-lg-6
        img(src="#", alt="Пирожки жар.  и печеные с повидлом, яблоками, картошкой  и т.д")
        span  Пирожки жар.  и печеные с повидлом, яблоками, картошкой  и т.д
    .row
      .col-lg-4
        img(src="#", alt="Калитки с картофелем, пшеном")
        span Калитки с картофелем, пшеном
      .col-lg-4
        img(src="#", alt="Беляши")
        span  Беляши
      .col-lg-4
        img(src="#", alt="Чебуреки")
        span  Чебуреки
    h2.content-center Торговая марка «СвирьХлеб» предлагает Вам следующие виды пирогов и пирожков:
    h5.content-center ОAО "Подпорожский Хлебокомбинат" г. Подпорожье, Ленинградская область
    .row
      .col-lg-10.offset-lg-1.content-center
        include ../components/pirogiTable-podpor
    h5.content-center ОAО "Лодейнопольский комбинат хлебобулочных и кондитерских изделий" г. Лодейное Поле, Ленинградская область
    .row
      .col-lg-12.content-center
        include ../components/pirogiTable-lodey
    a(href='production.html').backlink &lt;&lt; Назад


