extends ../base

block content
  .catalog-content
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="catalog.html") Каталог
      |  /
      a(href="production.html") Наша продукция
      |  / ПИРОЖНЫЕ
    h1 ПИРОЖНЫЕ ТМ "СВИРЬХЛЕБ"
    p Нежные заварные эклеры с глазированным шоколадом и сахарной пудрой, трубочки с воздушным кремом,  различные виды корзиночек, знаменитая «Картошечка» - все это пирожные Подпорожского и Лодейнопольского Хлебокомбинатов, которые так напоминают нам о приятных моментах из детства.
    p Раньше солнце светило ярче и трава зеленее была, мороженое стоило 28 копеек, а пирожное... Эх, каким оно было натуральным и вкусным....
    p Точно таким, каким и сегодня, потому что ТОРГОВАЯ МАРКА «СВИРЬХЛЕБ» сохраняет лучшие традиции изготовления кондитерских изделий, а также «шагает в ногу со временем»:
    .row
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пир. 'Труб. с обсыпкой' (Эклер)  ")
          span Пир. "Труб. с обсыпкой" (Эклер)
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пир. 'Корзиночка с желе и фрукт.' ")
          span Пир. "Корзиночка с желе и фрукт."
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пир. корз. 'Радуга'")
          span Пир. корз. "Радуга"
    .row
      .col-lg-6
        a(href="#")
          img(src="#", alt="Корж молочный 0,075 кг")
          span Корж молочный 0,075 кг
      .col-lg-6
        a(href="#")
          img(src="#", alt="Пир. корзиночка 'Аленка'")
          span Пир. корзиночка "Аленка"
    .row
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пирожное 'Буше'")
          span  Пирожное "Буше"
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пирожное 'Сластена'")
          span  Пирожное "Сластена"
      .col-lg-4
        a(href="#")
          img(src="#", alt="Профитроли")
          span  Профитроли
    h2.content-center Торговая марка «СвирьХлеб» предлагает Вам следующие виды пирожных:
    h5.content-center ОAО "Подпорожский Хлебокомбинат" г. Подпорожье, Ленинградская область
    .row
      .col-lg-10.offset-lg-1.content-center
        include ../components/konditerTable-podpor
    h5.content-center ОAО "Лодейнопольский комбинат хлебобулочных и кондитерских изделий" г. Лодейное Поле, Ленинградская область
    .row
      .col-lg-12.content-center
        include ../components/konditerTable-lodey
    a(href='production.html').backlink &lt;&lt; Назад
