extends ../base

block content
  .catalog-content
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="catalog.html") Каталог
      |  /
      a(href="production.html") Наша продукция
      |  / КОНДИТЕРСКИЕ ИЗДЕЛИЯ
    h1 КОНДИТЕРСКИЕ (МУЧНИСТЫЕ) ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"
    p Путевка в  мир сладкой жизни – это кондитерские изделия Подпорожского и Лодейнопольского хлебокомбинатов: кексы, рулеты, коржики, кольца из песочного теста, ромовая баба, всегда готовые подсластить нашу повседневную жизнь. Устройте себе «вкусные» выходные с  воздушными угощениями Торговой МАрки "СВИРЬХЛЕБ", которые являются отличными угощениями к чаю или кофе:
    .row
      .col-lg-4
        a(href="#")
          img(src="#", alt="Кольцо песочное 0,08 кг")
          span Кольцо песочное 0,08 кг
      .col-lg-4
        a(href="#")
          img(src="#", alt="Корж творожный 0,075 кг")
          span Корж творожный 0,075 кг
      .col-lg-4
        a(href="#")
          img(src="#", alt="Баба ромовая 0,07 кг")
          span Баба ромовая 0,07 кг
    .row
      .col-lg-4
        a(href="#")
          img(src="#", alt="Корж молочный 0,075 кг")
          span Корж молочный 0,075 кг
      .col-lg-4
        a(href="#")
          img(src="#", alt="Пирог 'Венский' 0,35 кг")
          span Пирог "Венский" 0,35 кг
      .col-lg-4
        a(href="#")
          img(src="#", alt="Сочник с творогом 0,1 кг")
          span Сочник с творогом 0,1 кг
    h2.content-center Торговая марка «СвирьХлеб» предлагает Вам следующие виды кондитерских (мучнистых) изделий:
    h5.content-center ОAО "Подпорожский Хлебокомбинат" г. Подпорожье, Ленинградская область
    .row
      .col-lg-10.offset-lg-1.content-center
        include ../components/konditerTable-podpor
    h5.content-center ОAО "Лодейнопольский комбинат хлебобулочных и кондитерских изделий" г. Лодейное Поле, Ленинградская область
    .row
      .col-lg-12.content-center
        include ../components/konditerTable-lodey
    a(href='production.html').backlink &lt;&lt; Назад
