extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Меню
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="contacts.html") Обратная связь
        li.widget-item
          a(href="contacts-lodey.html").active ОАО "ЛодКХиК"
        li.widget-item
          a(href="contacts-podpor.html") ОАО "Подпорожский Хлебокомбинат"



block content
  .contacts
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="contacts.html") Контакты
      |  / ОАО "ЛодКХиК"
    h1 ОАО "ЛодКХиК"
    .contacts-title.content-center ОАО "Лодейнопольский комбинат Хлебобулочных и кондитерских изделий"
    p.contacts-line
      span 1. Отдел продаж:
      | &nbsp; 8 (81364) 236-33; 212-27;
    p.contacts-line
      span 2. Лаборатория:
      | &nbsp; 8 (81364) 216-07;
    p.contacts-line
      span 3. Отдел снабжения:
      | &nbsp; 8 (81364) 211-07;
    p.contacts-line
      span 4. Бухгалтерия:
      | &nbsp; 8 (81364) 227-49;
    p.contacts-line
      span 5. Отдел кадров:
      | &nbsp; 8 (81364) 223-58;
    p.contacts-line
      span 6. Стол заказов:
      | &nbsp; 8 (81364) 8 (81364) 21915; 8 (81364) 220-03; 8 (81364) 226-02;
    p.contacts-line
      span Моб. тел.
      | &nbsp;8-921-647-10-35; 8-965-756-52-12
