extends ../base

block content
  .front-content
    h1.content-center ДОБРО ПОЖАЛОВАТЬ НА САЙТ ТОРГОВОЙ МАРКИ "СВИРЬХЛЕБ"
    p <b>Торговая марка «СвирьХлеб»</b> объединяет два известных предприятия – ОАО «Лодейнопольский комбинат хлебобулочных и кондитерских изделий» (ОАО «ЛодКХиК»)  и ОАО «Подпорожский Хлебокомбинат» (ОАО «ПХК»).
    p <b>ТМ «СВИРЬХЛЕБ»</b> хорошо известна покупателям своим высоким качеством, замечательным вкусом и разнообразным ассортиментом.
    p <b>Коллективы ОАО «ПХК» и ОАО «ЛодКХиК»</b> имеют заслуженный список наград за свой труд, но, главное – умеют делать вкусный, ароматный, свежий хлеб и всевозможные хлебобулочные и кондитерские изделия. Вся продукция, изготавливаемая на наших предприятиях, производится с большой любовью. Ведь мы любим свое дело и стремимся достигать наивысших результатов, поставляя продукцию только лучшего качества.
    p <b>Наши предприятия</b> производят разнообразнейшие хлебобулочные и кондитерские изделия: классические, диетические, заварные сорта хлеба, булочные изделия 1 и высшего сорта по старинным рецептам, сдобные изделия, слойки.Кондитерские изделия торговой марки «СвирьХлеб» порадуют Вас своей натуральностью, изяществом, вкусом и формой. Особо стоит отметить их потрясающие вкусовые качества, которые сможете оценить по достоинству не только Вы, но и Ваш ребенок, внук, Ваша девушка, коллеги…и список можно продолжать до бесконечности.
    p Важно отметить, что <b>вся продукция ТМ «СВИРЬХЛЕБ» производится из высококачественного, экологически чистого сырья и не содержит улучшителей вкуса и формы.</b> А это значит что, приобретая наши хлебобулочные и кондитерские изделия, вы можете не только наслаждаться свежим и приятным вкусом, но и быть спокойными за свое здоровье и здоровье своих детей.  <b>А ВЕДЬ ЭТО САМОЕ ГЛАВНОЕ!</b>
    p Для достижения высокого качества и вкусового разнообразия продукции, наши специалисты ежедневно совершенствуют технологии приготовления, на предприятиях проводится техническое перевооружение и реконструкция, расширяются коммерческие и партнерские связи.
    p Большое внимание мы уделяем не только качеству и вкусу продукции, но и тому, как их сохранить, а именно - упаковке, позволяющей нашим изделиям оставаться свежими до того времени, как они попадут вам на стол.
    p Наша жизнь немыслима без хлеба. Любое, самое вкусное блюдо теряет всю свою привлекательность без его кусочка. Ни один праздник не обходится без нежного торта, а свежая выпечка и разнообразные кондитерские изделия вносят в наши напряженные рабочие будни праздничное настроение.
    p Потратьте всего несколько минут и зайдите в другие разделы нашего сайта – ведь только на НАШЕМ САЙТЕ вы найдете полезную информацию о продукции, производимой торговой маркой «СвирьХлеб». Ну а что бы получить полное представление о продукции наших предприятий необходимо просто попробовать наш хлеб, выпечку и кондитерские изделия!
    p.content-center <b>ВКУСНЫЙ ХЛЕБ В КАЖДЫЙ ДОМ – это не просто наш девиз. Это смысл нашей жизни, наша гордость и радость. Мы абсолютно уверены, что наша продукция сможет принести радость, новые жизненные силы и Вам!</b>




