extends ../base

block widget-content
  .row.sidebar-wgt.about-menu
    .sidebar-header Новости
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="news-single.html") 2013

block content
  .news-single
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="news.html") Новости
      |  /
      a(href="news.html") 2013
    .news-single-date 28 января
    h1 ОТКРЫТИЕ САЙТА ТОРГОВОЙ МАРКИ "СВИРЬХЛЕБ"
    p Дорогие друзья и гости нового сайта ТОРГОВОЙ МАРКИ "СВИРЬХЛЕБ"! Мы рады приветствовать Вас на сайте нашей компании. Это радостное событие для нас. Ведь теперь каждый покупатель сможет зайти на наш сайт и познакомится с НАШЕЙ ТОРГОВОЙ МАРКОЙ "СВИРЬХЛЕБ"! Мы любим своих покупателей и ценим мнение каждого из Вас! Теперь, благодаря нашему новому сайту МЫ стали К ВАМ еще ближе.

    a(href="news.html") Вернуться в раздел

