extends ../base

block widget-content
  .row.sidebar-wgt.cat-menu
    .sidebar-header НАША ПРОДУКЦИЯ
    .sidebar-content
      ul.widget-list
        li.widget-item
          a(href="category-hlebobul.html") БУЛОЧНЫЕ ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-torts.html") ЗАКАЗНЫЕ ТОРТЫ
        li.widget-item
          a(href="category-pirogi.html") ПИРОГИ И ПИРОЖКИ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-konditer.html") КОНДИТЕРСКИЕ (МУЧНИСТЫЕ) ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"
        li.widget-item
          a(href="category-cookies.html") ПЕЧЕНЬЕ ТМ "СВИРЬХЛЕБ"

block content
  .production
    .breadcrumb-custom
      a(href="index.html") Главная страница
      |  /
      a(href="catalog.html") Каталог
      |  / Наша продукция
    h1 НАША ПРОДУКЦИЯ
    mixin prodiction-list-item(src, alt, link, title, content)
      .col-lg-2(style="margin-bottom: 1rem")
        img(src=src, alt=alt width="100%" height="70px")
      .col-lg-10
        a(href=link).prodlist-title=title
        p=content
    .row
      +prodiction-list-item('images/production/hlebobul/348.jpg', '', 'category-hlebobul.html', 'БУЛОЧНЫЕ ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"', 'Торговая марка «СвирьХлеб» предлагают потребителям богатый ассортимент булочных изделий. Наши булочные изделия вкусные, ароматные и экологически чистые. Для производства булочных изделий мы используем классическую технологию и только натуральные продукты, не применяя никаких химических разрыхлителей, улучшителей и добавок. Мы заботимся О ВАШЕМ ЗДОРОВЬЕ:')
      +prodiction-list-item('images/production/torts/354.jpg', '', 'category-torts.html', 'Заказные торты Лодейнопольского Хлебокомбината', 'Торты могут быть, любого веса, размера, тематики.')
      +prodiction-list-item('images/production/hlebobul/377.jpg', '', 'category-pirogi.html', 'ПИРОГИ И ПИРОЖКИ ТМ "СВИРЬХЛЕБ"', '«Пирог - это звучит вкусно!» Особенно, если речь идет о пирогах Подпорожского и Лодейнопольского хлебокомбинатов. Как нам известно, ни один «пир на весь мир» не может обойтись без исконно русского блюда: домашнего пирога. На Руси каждому празднику соответствовали свои пироги с уникальными кулинарными секретами приготовления, некоторые из которых сохранились по сей день и используются «асами» хлебопекарного делапредприятиями торговой марки «СвирьХлеб». Подпорожские и Лодейнопольские пироги разнообразны не только по своему внешнему виду, но и по составу теста, начинкам и вкусу. Используя традиции русской выпечки, Подпорожский и Лодейнопольский хлебокомбинаты разработали пироги с разными начинками, которые стоит попробовать:')
      +prodiction-list-item('images/production/hlebobul/391.jpg', '', 'category-konditer.html', 'КОНДИТЕРСКИЕ (МУЧНИСТЫЕ) ИЗДЕЛИЯ ТМ "СВИРЬХЛЕБ"', 'Путевка в мир сладкой жизни – это кондитерские изделия Подпорожского и Лодейнопольского хлебокомбинатов: кексы, рулеты, коржики, кольца из песочного теста, ромовая баба, всегда готовые подсластить нашу повседневную жизнь. Устройте себе «вкусные» выходные с воздушными угощениями Торговой МАрки "СВИРЬХЛЕБ", которые являются отличными угощениями к чаю или кофе:')
      +prodiction-list-item('images/production/cookies/400.jpg', '', 'category-cookies.html', 'ПЕЧЕНЬЕ ТМ "СВИРЬХЛЕБ"', 'Печенье – отличный спутник чашки с горячим чаем! Попробуйте наше печенье, изготовленное с любовью, ведь оно ничем не уступает нашему любимому печенью, которые МЫ С ВАМИ печем дома:')
      +prodiction-list-item('images/production/torts/404.jpg', '', 'category-pirozh.html', 'ПИРОЖНЫЕ ТМ "СВИРЬХЛЕБ" ', 'Нежные заварные эклеры с глазированным шоколадом и сахарной пудрой, трубочки с воздушным кремом, различные виды корзиночек, знаменитая «Картошечка» - все это пирожные Подпорожского и Лодейнопольского Хлебокомбинатов, которые так напоминают нам о приятных моментах из детства. Раньше солнце светило ярче и трава зеленее была, мороженое стоило 28 копеек, а пирожное... Эх, каким оно было натуральным и вкусным.... Точно таким, каким и сегодня, потому что ТОРГОВАЯ МАРКА «СВИРЬХЛЕБ» сохраняет лучшие традиции изготовления кондитерских изделий, а также «шагает в ногу со временем»:')
