@include media-breakpoint-up(md) {
	.swiper-row {
		width: 90%;
		margin: 0 auto;
	}

	.swiper-button-next {
		right: -35px;
	}

	.swiper-button-prev {
		left: -45px;
	}
}

#slider-footer {
	width: 100%;
	margin-bottom: 2em;
	padding: 0 4em 1em 4em;
	position: unset !important;

	.swiper-slide {
		width: 60%;
		@include media-breakpoint-up(lg) {
			width: 30%;
		}
		@media all and (min-width: 1800px) {
			width: 20%;
		}
	}
	img {
		width: 100%;
	}
}
