.container
	.row.footer
		.col-12.col-lg-6
			ul.footer-nav__menu
				li.footer-nav__menu-item
					a.footer-nav__menu-link(href="about.html") О нас
				li.footer-nav__menu-item
					a.footer-nav__menu-link(href="catalog.html") Каталог
				li.footer-nav__menu-item
					a.footer-nav__menu-link(href="news.html") Новости
				li.footer-nav__menu-item
					a.footer-nav__menu-link(href="gallery.html") Фотогалерея
				li.footer-nav__menu-item
					a.footer-nav__menu-link(href="contacts.html") Контакты
		.col-12.col-lg-6.footer-icons
			a(href="#").footer-icon.footer-icon--home
			a(href="#").footer-icon.footer-icon--map
			a(href="#").footer-icon.footer-icon--mail



script(src="js/common.js")
script(src="js/scripts.js")

