.table-responsive
  table.table.prod-category-table.table-striped.table-bordered.table-sm
    thead
      tr
        th(scope="col") #
        th(scope="col") Наименование изделия
        th(scope="col") Штрих код
        th(scope="col") Вес, кг
        th(scope="col") Сорт
        th(scope="col") Затарка, шт
        th(scope="col") Ед.изм
        th(scope="col") Срок реализац.
        th(scope="col") Срок хран.
      tr
        th(scope="col") 1
        th(scope="col") 2
        th(scope="col") 3
        th(scope="col") 4
        th(scope="col") 5
        th(scope="col") 6
        th(scope="col") 7
        th(scope="col") 8
        th(scope="col") 9
    tbody
      tr
        th(scope="row") 1
        td Батон Столовый
        td 4607152830170
        td в/с
        td 0.3
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 2
        td Хлеб пшеничный формовой
        td 4607152830187
        td в/с
        td 0.5
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 3
        td Хлеб пшеничный формовой нарезка
        td 4607152830194
        td в/с
        td 0.5
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 4
        td Батон с изюмом
        td 4607152834376
        td в/с
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 5
        td Каравай"Сувенирный"
        td
        td в/с
        td 1.2
        td 1
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 6
        td Хлеб Сандвич нарезка
        td 4607152830231
        td в/с
        td 0.45
        td 7
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 7
        td Хлеб Сандвич нарезка
        td 4607152830613
        td в/с
        td 0.22
        td 14
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 8
        td Лаваш Кавказский упаковка
        td 4607152831665
        td в/с
        td 0.3
        td 6
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 9
        td Сайка горчичная
        td 4607152832877
        td в/с
        td 0.2
        td 9
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 10
        td Батон Нарезной
        td 4607152832112
        td в/с
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 11
        td Батон Нарезной
        td 4607152834062
        td в/с
        td 0.175
        td 20
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 12
        td Батон Нарезной нарезка
        td 4607152832129
        td в/с
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 13
        td Батон Нарезной нарезка
        td 4607152834079
        td в/с
        td 0.175
        td 20
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 14
        td Батон Подмосковный
        td 4607152833829
        td в/с
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 15
        td Батон Подмосковный
        td 4607152833843
        td в/с
        td 0.175
        td 20
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 16
        td Батон Подмосковный нарезка
        td 4607152833836
        td в/с
        td 0.35
        td 20
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 17
        td Батон Подмосковный нарезка
        td 4607152833850
        td в/с
        td 0.175
        td 20
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 18
        td Хлеб Дачный с луком
        td 4607152834581
        td в/с
        td 0.4
        td 7
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 19
        td Хлеб Дачный с луком
        td 4607152834598
        td в/с
        td 0.2
        td 14
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 20
        td Хлеб "Оригинальный"
        td 4607152834543
        td в/с
        td 0.2
        td 8
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 21
        td Хлеб тост. Молочный
        td 4607152832945
        td в/с
        td 0.5
        td 7
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 22
        td Хлеб тост. Молочный
        td 4607152832440
        td в/с
        td 0.25
        td 14
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 23
        td Багет с сыром
        td 4607152833669
        td в/с
        td 0.25
        td 8
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 24
        td Багет с кунжутом
        td 4607152833652
        td в/с
        td 0.25
        td 8
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 25
        td Батон Столовый
        td 4607152830170
        td в/с
        td 0.3
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 26
        td Рогалики с приправой уп 5*0,04
        td 4607152833645
        td в/с
        td 0.2
        td
        td уп.
        td 24 час
        td 72 час
      tr
        th(scope="row") 26
        td Чабатта с сыром
        td 4607152832099
        td в/с
        td 0.25
        td 8
        td шт.
        td 24 час
        td 72 час
    thead
      tr
        th(scope="col") #
        th(scope="col" colspan='8') Социальные сорта
            tbody
      tr
        th(scope="row") 1
        td Батон Нарезой
        td 4607152833171
        td 1 c
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 1
        td Батон Нарезной нарезка
        td 4607152832105
        td 1 c
        td 0.35
        td 10
        td шт.
        td 24 час
        td 72 час


