.table-responsive
  table.table.prod-category-table.table-striped.table-bordered.table-sm
    thead
      tr(valign="middle")
        th(scope="col" colspan="6") Булочные изделия
      tr(valign="middle")
        th(scope="col") #
        th(scope="col") Наименование товаров
        th(scope="col") Сорт
        th(scope="col") Вес, кг
        th(scope="col") Кол-во в лотке
        th(scope="col") Срок реализации в торговой сети
    tbody
      tr
        th(scope="row") 1
        td Багеты с маком
        td в/с
        td 0,25
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 2
        td Багеты с сыром
        td в/с
        td 0,25
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 3
        td Батон городск.уп.
        td в/с
        td 0,35
        td лот-8
        td 3 сут.
      tr
        th(scope="row") 4
        td Батон городской
        td в/с
        td 0,35
        td лот-8
        td 3 сут.
      tr
        th(scope="row") 5
        td Батон горчичный нар.
        td в/с
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 6
        td Батон нарез.
        td 1 c
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 7
        td Батон нарез. уп.
        td 1 c
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 8
        td Батон нарез. в нар.
        td 1 c
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 9
        td Батон нарез.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 10
        td Батон нарез.с нар.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 11
        td Батон нарез.уп.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 12
        td Батон подм.
        td в/с
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 13
        td Батон подм. в упак.
        td в/с
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 14
        td Батон подм. половинка
        td в/с
        td 0,175
        td лот-20
        td 3 сут.
      tr
        th(scope="row") 15
        td Батон подм.в нар.
        td в/с
        td 0,35
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 16
        td Батон прост.
        td 1 c
        td 0,3
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 17
        td Батон прост. уп.
        td 1 c
        td 0,3
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 18
        td Батон с изюмом
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 19
        td Батон с изюмом уп.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 20
        td Батон с кунж.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 21
        td Батон с кунж.уп.
        td в/с
        td 0,35
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 22
        td Батон стол. уп.
        td в/с
        td 0,3
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 23
        td Батон столовый
        td в/с
        td 0,3
        td лот-12
        td 3 сут.
      tr
        th(scope="row") 24
        td Каравай невский
        td в/с
        td 0,5
        td шт
        td 3 сут.
      tr
        th(scope="row") 25
        td Каравай невский
        td в/с
        td 1
        td шт
        td 3 сут.
      tr
        th(scope="row") 26
        td Плетенка невская
        td в/с
        td 0,35
        td лот-8
        td 3 сут.
      tr
        th(scope="row") 27
        td Плетенка невская уп.
        td в/с
        td 0,35
        td лот-8
        td 3 сут.
