.table-responsive
  table.table.prod-category-table.table-striped.table-bordered.table-sm
    thead
      tr(valign="middle")
        th(scope="col" colspan="6") Булочные изделия
      tr(valign="middle")
        th(scope="col") #
        th(scope="col") Наименование товаров
        th(scope="col") Сорт
        th(scope="col") Вес, кг
        th(scope="col") Кол-во в лотке
        th(scope="col") Срок реализации в торговой сети
    tbody
      tr
        th(scope="row") 1
        td Багеты с маком
        td в/с
        td 0,25
        td лот-10
        td 3 сут.
      tr
        th(scope="row") 2
        td Багеты с сыром
        td в/с
        td 0,25
        td лот-10
        td 3 сут.
