.table-responsive
  table.table.prod-category-table.table-striped.table-bordered.table-sm
    thead
      tr
        th(scope="col") #
        th(scope="col") Наименование изделия
        th(scope="col") Штрих код
        th(scope="col") Вес, кг
        th(scope="col") Сорт
        th(scope="col") Затарка, шт
        th(scope="col") Ед.изм
        th(scope="col") Срок реализац.
        th(scope="col") Срок хран.
      tr
        th(scope="col") 1
        th(scope="col") 2
        th(scope="col") 3
        th(scope="col") 4
        th(scope="col") 5
        th(scope="col") 6
        th(scope="col") 7
        th(scope="col") 8
        th(scope="col") 9
    tbody
      tr
        th(scope="row") 1
        td Батон Столовый
        td 4607152830170
        td в/с
        td 0.3
        td 10
        td шт.
        td 24 час
        td 72 час
      tr
        th(scope="row") 2
        td Хлеб пшеничный формовой
        td 4607152830187
        td в/с
        td 0.5
        td 10
        td шт.
        td 24 час
        td 72 час
