.table-responsive
  table.table.prod-category-table.table-striped.table-bordered.table-sm
    thead
      tr(valign="middle")
        th(scope="col" colspan="6") Пироги и пирожки
      tr(valign="middle")
        th(scope="col") #
        th(scope="col") Наименование товаров
        th(scope="col") Сорт
        th(scope="col") Вес, кг
        th(scope="col") Кол-во в лотке
        th(scope="col") Срок реализации в торговой сети
    tbody
      tr
        th(scope="row") 1
        td Ватрушка с творогом (заказ)
        td в/с
        td 1,000
        td кг
        td 48 час
      tr
        th(scope="row") 2
        td Ватрушка с творогом
        td в/с
        td 0,300
        td лот-6
        td 48 час
