.row.sidebar.contacts
  .sidebar-header Контакты
  .sidebar-content
    p 2018 © Cвирьхлеб
    .sidebar-title  ТОРГОВАЯ МАРКА "СВИРЬХЛЕБ"
    p 1. ОАО "Подпорожский Хлебокомбинат" Ленинградская область, город: Подпорожье, Хлебный переулок, д.3 Телефон	(81365) 2-15-95; 2-14-07 Факс: 2-14-07 E-mail: hleb_podp@mail.ru
    p 2. ОАО "Лодейнопольский комбинат хлебобулочных и кондитерских изделий" Ленинградская область, город: Лодейное Поле, улица Карла Маркса, 27 Телефон: (81364) 236-33 Факс: 223-58 E-mail: lodhleb@mail.ru
.row.sidebar.image
  .sidebar-header Случайное фото
  .sidebar-content
    .sidebar-image
      img(src="images/344_mgalb.jpg", alt="")
    .sidebar-title ОАО "ПХК"
    a(href="gallery.html").sidebar-link Все фото
.row.sidebar.search
  .sidebar-header Поиск
  .sidebar-content
    input.sidebar-input(type='text')
    a(href="#").sidebar-button Поиск
