block widget-content
.row.sidebar.announce
  .sidebar-header Анонсы
  .sidebar-content
    .sidebar-image
      img(src="images/535.jpg", alt="")
    .sidebar-date 01.06.2014
    .sidebar-title Лето пора свадеб
    a(href="announce-single.html").sidebar-link Подробнее
.row.sidebar.news
  .sidebar-header Новости
  .sidebar-content
    .sidebar-date 28.01.2013
    .sidebar-title ОТКРЫТИЕ САЙТА ТОРГОВОЙ МАРКИ "СВИРЬХЛЕБ"
    .sidebar-image
      img(src="images/logo-main.png", alt="")
    p.news-text  ВОТ и настал день, которого наши предприятия ждали практически год. Открылся сайт объединяющий в себе предприятия ОАО "Подпорожский Хлебокомбинат" и ОАО "Лодейнопольский Хлебокомбинат", выпускающих свою продукцию под ТОРГОВОЙ МАРКОЙ "СВИРЬХЛЕБ"! УРА!
    a(href="news-single.html").sidebar-link Подробнее
